*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div{
    height: 400px;
    width: 400px;
    border-radius: 10%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}